* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Comfortaa', sans-serif;
}

/* ** header section ** */
.container header {
    border: 1px solid red;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ! cinema logo */
.container header .header-title {
    font-weight: bold;
    padding-left: 40px;
}

.container header .header-title span {
    cursor: pointer;
}

/* ! menu items */
.container .header-menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.container .header-menu ul li {
    cursor: pointer;
}

.container .header-menu ul li:hover {
    color: #990094;
}

.container .header-menu ul .active {
    color: #990094;
    font-weight: bold;
}
