* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Comfortaa', sans-serif;
}

/* ** header section ** */
.container header {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ! cinema logo */
.container header .header-title {
    font-weight: bold;
    padding-left: 40px;
}

.container header .header-title span {
    cursor: pointer;
}

/* ! menu items */
.container .header-menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.container .header-menu ul li {
    cursor: pointer;
}

.container .header-menu ul li:hover {
    color: #990094;
}

.container .header-menu ul .active {
    color: #990094;
    font-weight: bold;
}

/* ! search input */
.container .header-search-bar .search-field {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #FFCCFD;
    padding: 5px;
    padding-inline: 10px;
    margin-right: 30px;
    border-radius: 20px;
}
.container .header-search-bar .search-field img {
    height: 20px;
}

.container .header-search-bar .search-field input {
    border: none;
    outline: none;
    background: transparent;
    width: 300px;
}

.container .header-search-bar .search-field input::placeholder {
    color: rgb(127, 127, 127);
}

/* ** hero section ** */
.container .hero {
    height: 600px;
    width: 100%;
    background: linear-gradient(145deg, #CA26FF 7%, #F4CAC0 85%, #FFF3B0 100%);
    border-bottom-right-radius: 200px;
}

